p1 {
  color: green;
  font-size: 40;
  font-weight: bold;
  font-style: italic;
  font-family: serif;
}

p2 {
  color: blue;
  font-size: 25;
  font-style: oblique;
  font-family: sans-serif;
}

p3 {
  color: orange;
  font-size: 19;
  font-weight: bolder;
  font-variant: inherit;
}

title {
  color: yellow;
  font-size: 100;
  font-weight: lighter;
  font-style:italic;
  font-family: fantasy;
  text-decoration: underline;
}
"# memebigboy" 
